
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    position: fixed;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar.active {
    height: auto;
  }
  
  .navbar-brand a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
  .navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  a{
    text-decoration: none;
  }
  
  .navbar-links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: whitesmoke;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 99;
      transition: all 0.3s ease-in-out; /* Added transition */
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links li {
      margin: 0;
      padding: 15px;
    }
  }